<!DOCTYPE html>
<html>

<head>
    <title>Ocene</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link href="/stylesheets/AdminDashboard.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<div class="container-fluid h-100">
    <div class="row h-100">

        <!--            User panel (left size)      -->
        {{> adminPanel}}

        <!--            User activities - double click to show more info in new panel    -->
        <div class = "col userActivities">

            <h3 style = "margin-bottom: 30px">Ocene</h3>

            <div class = "row">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#id</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Ocena</th>
                        <th scope="col">Lokacija</th>
                        <th scope="col">Uporabnik</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>12.10</td>
                        <td>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </td>
                        <td>FRI123</td>
                        <td>JakMar17</td>
                        <td>
                            <i class="fas fa-trash" style="color: darkred"></i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>12.10</td>
                        <td>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </td>
                        <td>FRI123</td>
                        <td>JakMar17</td>
                        <td>
                            <i class="fas fa-trash" style="color: darkred"></i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>12.10</td>
                        <td>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </td>
                        <td>FKKT123</td>
                        <td>JakMar17</td>
                        <td>
                            <i class="fas fa-trash" style="color: darkred"></i>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>12.10</td>
                        <td>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </td>
                        <td>FRI123</td>
                        <td>JakMar17</td>
                        <td>
                            <i class="fas fa-trash" style="color: darkred"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

<script src="javascripts/popper.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>

</html>