<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nastavitve uporabnika</title>

    <link href="/stylesheets/UserPageStyle.css" rel="stylesheet" type="text/css"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>
<div class="container-fluid h-100">
    <div class="row h-100">
        <!--            User panel (left size)      -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 userPanel">


            <div class="row" style = "margin-top: 20px;">

                <!--                TO-DO: on click open setting panel to change user info-->
                <div class="col rightAlign">
                    <i class="far fa-times-circle" style = "font-size: 200%; color:white;" onclick = "location.href = '/profile'">
                        <div id="popup" style="display: none">description text here</div>
                    </i>
                </div>
            </div>

            <form>
                <div class="row">
                    <div class="col" style="margin-top: 20px;">
                        <div style="text-align: center;">
                            <img src="/images/profile/user_avatar.png" class="avatar"/>
                            <div class = categoryName style = "margin-bottom: 50px">
                                <div class = row>
                                    <div class="form-group col" style="margin-top: 15px">
                                        <input type="text" class="form-control-sm" id="username" value="{{username}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "dataUnit">
                    <div class="row">
                        <div class = "form-group col input-group">
                            <input type="text" class="form-control" id="name" value="{{name}}">
                            <input type="text" class="form-control" id="surname" value="{{surname}}">
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "col infoText">
                            ime in priimek
                        </div>
                    </div>
                </div>

                <div class = "dataUnit" style = "margin-bottom: 10px">
                    <div class = "row">
                        <div class = "form-group col">
                            <input type="text" class="form-control" id="mail" value="{{mail}}">
                        </div>
                    </div>
                    <div class = "row">
                        <div class="col infoText">
                            email
                        </div>
                    </div>
                </div>

                <!-- A change password email is sent to user and user is automatically logged out -->
                <div class="dataUnit">
                    <div class="row">
                        <div class="form-group col">
                            <button type="submit" class="btn btn-primary btn-sm" style="background: white; color: black">Spremeni geslo</button>
                        </div>
                    </div>
                </div>

                <div class="dataUnit infoText">
                    <div class="row">
                        <div class="form-group col">
                            <label>Izberi novo profilno sliko</label>
                            <input type="file" class="form-control-file" id = "avatar" style="text-align: center; color: white">
                        </div>
                    </div>
                </div>

                <div class="dataUnit" style="margin-bottom: 10px;">
                    <button type="submit" class="btn btn-primary btn-sm" style="background: white; color: black" onclick = "window.alert('Shranjeno')">Shrani spremembe</button>
                </div>
            </form>
        </div>

        <!--            User activities - double click to show more info in new panel    -->
        <span style="filter: blur(4px)">
            {{> UserActivities}}
        </span>

    </div>
</div>

<script src="javascripts/popper.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>

</html>